<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/NewFolder1/StyleSheet1.css" rel="stylesheet" />*@
    @*<link href="~/NewFolder1/StyleSheet2.css" rel="stylesheet" />*@
    <link href="~/NewFolder1/StyleSheet3.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
